<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Error" internalLogFile="c:\temp\nlog-internal.log">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>
	
	<targets>

		<target name="console" xsi:type="Console">
			<layout xsi:type="JsonLayout" includeAllProperties="true" excludeProperties="EventId_Id,EventId_Name,EventId">
				<attribute name="contenttype" layout="${aspnet-request-contenttype}" />
				<attribute name="request-method" layout="${aspnet-request-method}" />
				<attribute name="url" layout="${aspnet-request-url}" />
				<attribute name="environment" layout="${aspnet-environment} " />
				<attribute name="machinename" layout="${machinename}" />
				<attribute name="applicationname" layout="${processname}" />
				<attribute name="time" layout="${longdate}" />
				<attribute name="category" layout="${logger}" />
				<attribute name="log_level" layout="${level:lowerCase=true}" />
				<attribute name="message" layout="${message}" />
				<attribute name="trace_id" layout="${aspnet-TraceIdentifier:ignoreActivityId=true}" />
				<attribute name="user_id" layout="${aspnet-user-identity}" />
				<attribute name="exception" layout="${exception:format=tostring}" />
			</layout>
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="console"   ruleName="console" />
	</rules>
</nlog>